In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import pytz

In [2]:
df = pd.read_csv("job_descriptions.csv")

In [3]:
df['Job Posting Date'] = pd.to_datetime(df['Job Posting Date'])

In [8]:
df.describe()

,Job Id,latitude,longitude,Company Size,Job Posting Date,Salary_clean
count,1.615940e+06,1.615940e+06,1.615940e+06,1.615940e+06,1615940,1.615940e+06
mean,1.548935e+15,1.937743e+01,1.639926e+01,7.370467e+04,2022-09-15 02:07:38.874463744,6.000343e+01
min,1.817948e+11,-4.090060e+01,-1.751982e+02,1.264600e+04,2021-09-15 00:00:00,5.500000e+01
25%,7.740508e+14,5.152100e+00,-1.531010e+01,4.311400e+04,2022-03-16 00:00:00,5.700000e+01
50%,1.547858e+15,1.807080e+01,1.914510e+01,7.363300e+04,2022-09-15 00:00:00,6.000000e+01
75%,2.323729e+15,3.907420e+01,4.757690e+01,1.043000e+05,2023-03-17 00:00:00,6.300000e+01
max,3.099618e+15,7.170690e+01,1.780650e+02,1.348340e+05,2023-09-15 00:00:00,6.500000e+01
std,8.946722e+14,2.355690e+01,7.066762e+01,3.529886e+04,NaN,3.163964e+00

In [9]:
df.columns

Index(['Job Id', 'Experience', 'Qualifications', 'Salary Range', 'location',
       'Country', 'latitude', 'longitude', 'Work Type', 'Company Size',
       'Job Posting Date', 'Preference', 'Contact Person', 'Contact',
       'Job Title', 'Role', 'Job Portal', 'Job Description', 'Benefits',
       'skills', 'Responsibilities', 'Company', 'Company Profile',
       'Salary_clean'],
      dtype='object')

In [5]:
df['Salary_clean'] = (
    df['Salary Range']
    .astype(str)
    .str.replace(',', '', regex=True)
    .str.extract(r'(\d+)')
    .astype(float)
)

In [11]:
df['Experience_clean'] = (
    df['Experience']
    .astype(str)
    .str.extract(r'(\d+)')   # extract first number
    .astype(float)
)

In [12]:
filtered_df = df[
    (df['Work Type'] == 'Intern') &
    (df['latitude'] < 10) &
    (~df['Country'].str.startswith(('A','B','C','D'), na=False)) &
    (df['Company Size'] < 50000) &
    (df['Salary_clean'] > 9000) &
    (df['Experience_clean'] % 2 == 0) &
    (df['Job Posting Date'].dt.month.isin([1,3,5,7,9,11])) &
    (~df['Job Title'].str.contains(' ', na=False)) &
    (df['Job Title'].str.len() < 10)
]

In [13]:
ist = pytz.timezone('Asia/Kolkata')
current_time = datetime.now(ist).time()

start_time = pd.to_datetime("15:00").time()
end_time = pd.to_datetime("17:00").time()

In [17]:
if start_time <= current_time <= end_time:
    preference_counts = (
        filtered_df['Preference']
        .value_counts()
        .sort_values(ascending=False)
    )

    plt.figure()
    preference_counts.plot(kind='bar')
    plt.xlabel('Preference')
    plt.ylabel('Count')
    plt.title('Preference vs Work Type (Intern)')
    plt.show()
else:
    print(" Chart is only visible between 3 PM and 5 PM IST.")

 Chart is only visible between 3 PM and 5 PM IST.